@import "../general/colors.scss";
@import "../general/general.scss";

p {
    font-family: $font-primary;
    font-weight: $font-weight-normal;
    font-size: 13px;
    color: $color-black;
}

h1 {
    color: $color-primary-1;
    font-size: 60px;
    font-weight: $font-weight-bold;
    font-family: $font-primary;
}

h2 {
    color: $color-primary-1;
    font-size: 50px;
    font-weight: $font-weight-bold;
    font-family: $font-primary;
}

h3 {
    color: $color-primary-1;
    font-size: 40px;
    font-weight: $font-weight-semi-bold;
    font-family: $font-primary;
}

h4 {
    color: $color-primary-1;
    font-size: 30px;
    font-weight: $font-weight-semi-bold;
    font-family: $font-primary;
}

h5 {
    color: $color-primary-1;
    font-size: 20px;
    font-weight: $font-weight-semi-bold;
    font-family: $font-primary;
}

hr {
    width: 90%;
    border: 1px solid $color-gray-2;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: $color-gray-1;   
    min-height: 100vh; 
}