$color-primary-1 : #023f88;

$color-secondary-1 : #4eb1fd;
$color-secondary-2 : #197ac4;

$color-warning-1 : #ff8000;

$color-error-1 : #ff0000;

$color-gray-1: #fafafa;
$color-gray-2: #c3bebeba;
$color-gray-3: #949494;
$color-gray-4: #acacac;
$color-gray-5:  rgba(201, 201, 201, 0.408);

$color-white : #fff;

$color-black: #000000;