@import "../../shared/styles/general/colors.scss";
@import "../../shared/styles/general/general.scss";


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
    margin-top: 20px;    
}